doctype html
html
 head
 body
  div
    div
    form
      input 
      // 
         this is a button
         I like buttons....
      button(class="test" , required=true)
      | <?php echo 'test'; ?>
      div(class="test")
     